.footer{
	width: 100%;
	height: 272px;
	position: relative;
}
.footertop{
	width: 1226px;
	height: 20px;
	    padding: 27px 0;
    border-bottom: 1px solid #e0e0e0;
    margin: auto;
}
.footertopul{
	width: 100%;
	height: 25px;
}
.footertopul li{
	    float: left;
    width: 19.8%;
    height: 25px;
        font-size: 16px;
    line-height: 25px;
    text-align: center;
     
   
}
.footertopulli1{
	border-right: 1px solid #e0e0e0;
}
.footertopulli2{
	border-right: 1px solid #e0e0e0;
}
.footertopulli3{
	border-right: 1px solid #e0e0e0;
}
.footertopulli4{
	border-right: 1px solid #e0e0e0;
}
.footertopulli5{
	 border-right: 0px;
}

.footertopul li i{
	    margin-right: 6px;
    font-size: 24px;
    line-height: 24px;
    vertical-align: -4px;
   
}
.footertopul li a{
	text-decoration: none;
	   color: #616161;	
	   display: block;
	  
}
	

.footertopul li a:hover{
	color: #FF6700;
	transition: 0.5s;
}

.footerbottom{
	width: 1226px;
	height: 192px;
	    padding: 40px 0;
	    margin: auto;
}
.footerbottomul{
	    float: left;
    width: 160px;
    height: 112px;
    margin: 0;
    
}
.footerbottomul li{
	    margin: -1px 0 26px;
    font-size: 14px;
    line-height: 1.25;
    color: #424242;
}
.footerbottomul dd{
	margin-top: 5px;
}
.footerbottomul dd a{
	text-decoration: none;
	   color: #757575;
	    font-size: 12px;
	  
}
.footerbottomul dd a:hover{
	color: #FF6700;
	
}
.footerright{
display: block; 
	    float: right;
    width: 251px;
    height: 112px;
    border-left: 1px solid #e0e0e0;
    text-align: center;
    color: #616161;
}
.phone{
	    margin: 0 0 5px;
    font-size: 22px;
    line-height: 1;
    color: #ff6700;
}
.phonedate{
	display: block;
	    margin: 0 0 16px;
    font-size: 12px;
    text-align: center;
   line-height: 18px;
}
.footerright a{
	text-decoration: none;
	    border-color: #ff6700;
    background: #fff;
    color: #ff6700;
        width: 118px;
    height: 28px;
    font-size: 12px;
    line-height: 28px;
        display: inline-block;
        border: 1px solid #FF6700;
}
.footerright a i{
	font-size: 12px;
}
.footerright a:hover{
	background-color: #FF6700;
	color: #FFFFFF;
	transition: 0.5s;
}
.sign{
	width: 100%;
	margin: auto;
	height: 100px;
	
}
.signdiv{
	width: 100%;
	height: 100px;
}

.signspan{
	
	font-size: 40px;
	color: red;
	margin-left: 400px;
}
