@import url("header.css");
@import url("webfont.css");
@import url("flash.css");
@import url("promotion.css");
@import url("Intelligence.css");
@import url("mistar.css");
@import url("recommend.css");
@import url("hot.css");
@import url("viedo.css");
@import url("content-text.css");
@import url("footer.css");
@import url("webfont.css");

*{margin: 0px;padding: 0px;list-style: none;}
body {
	
	font-family: "microsoft yahei";
}


@font-face {
	font-family: 'iconfont';
	src: url("/font/iconfont.eot");
	src: url("/font/iconfont.eot?#iefix") format("embedded-opentype")
	
