.mistar {
	width: 100%;
	height: 438px;
	margin-top: 30px;
}

.mistarbox {
	width: 1226px;
	height: 438px;
	margin: auto;
}

.mistartitle {
	width: 100%;
	height: 58px;
}
.mistartitlel {
	font-size: 22px;
	
	float: left;
	font-weight: 200;
	color: #333;
	margin: 0;
	padding: 16px 0 0;
}
.mistartitler {
	padding: 16px 0 0;
	
	height: 25px;
	float: right;
	
	width: 72px;
	
}
.mistartitler li{
	float: right;
	text-decoration: none;	
    width: 24px;
    height: 16px;
    padding: 3px 5px;
    border: 1px solid #e0e0e0;
    text-align: center;    
    line-height: 18px;
}
.mistarspan2{
	cursor: default;
	font-size: 16px;
    color: #E0E0E0;
    display: block;
   text-decoration: none;
}
.mistarspan1{
	text-decoration: none;
	font-size: 16px;
    color: #757575;
    display: block;
   
   
}

.mistarsilde {
	width: 1226px;
	height: 340px;
	position: relative;
	overflow: hidden;
	
}

.mistarsildeul {
	width: 2452px;
	position: relative;
	left: 0px;
	transition:  0.5s ease;
	
}

.mistarsildeulli1 {
	width: 234px;
	height: 340px;
	float: left;
	margin-right: 14px;
	background:rgb(250,250,250);
}

.mistarsildeulli2 {
	width: 234px;
	height: 340px;
	float: left;
	margin-right: 14px;
	background:rgb(250,250,250);
}

.mistarsildeulli3 {
	width: 234px;
	height: 340px;
	float: left;
	margin-right: 14px;
	background:rgb(250,250,250);
}

.mistarsildeulli4 {
	width: 234px;
	height: 340px;
	float: left;
	margin-right: 14px;
	background:rgb(250,250,250);
}

.mistarsildeulli5 {
	width: 234px;
	height: 340px;
	float: left;
	background:rgb(250,250,250);
}

.now1 {
	left: -1226px;
}

.now2 {
	left: 0px;
}

.mistardisable1 {
	color: #E0E0E0;
	cursor: default;
}
.mistardisable2 {
	color: #000000;
	cursor: pointer;
}
.mistarsilde img{
	width: 160px;
	height: 160px;
	display: block;
	margin: 39px auto 20px;
}
.mistarspan:hover{
	color: #FF6700;
	cursor: pointer;
}

.mistarsildeulli1{

	border-top: 1px solid #ffac13;
}
.mistarsildeulli2{
	
	border-top: 1px solid #83c44e;
}
.mistarsildeulli3{
	
	border-top: 1px solid #2196f3;
}
.mistarsildeulli4{
	
	border-top: 1px solid #e53935;
}
.mistarsildeulli5{
	
	border-top: 1px solid #00c0a5;
}